{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block body %}
<section id="shopify-section-template--16317999481017__main" class="shopify-section section"><link rel="stylesheet" href="//icecreamshopus.com/cdn/shop/t/22/assets/section-main-page.css?v=848677459125201531690914918" media="all" onload="this.media='all'">

  <noscript><link href="//icecreamshopus.com/cdn/shop/t/22/assets/section-main-page.css?v=848677459125201531690914918" rel="stylesheet" type="text/css" media="all" /></noscript><style data-shopify="">.section-template--16317999481017__main-padding {
      padding-top: 21px;
      padding-bottom: 21px;
    }
  
    @media screen and (min-width: 750px) {
      .section-template--16317999481017__main-padding {
        padding-top: 28px;
        padding-bottom: 28px;
      }
    }</style><div class="page-width--narrow section-template--16317999481017__main-padding">
    <h1 class="main-page-title page-title h0">
      About Us
    </h1>
    <div class="rte">
      <h2>Welcome To The Ice Cream Shop</h2>
  <p>We’re here to add a little extra sweetness to your day. The Ice Cream Shop is a virtual restaurant and new way to order your favorite ice cream brands right to your front door. The Ice Cream Shop features fan-favorite products from beloved ice cream brands Ben &amp; Jerry’s, Talenti, Magnum, Breyers and Good Humor.</p>
  <p><a href="/collections/pints-tubs" class="button button--primary" style="color:white;">Shop Now</a></p>
    </div>
  </div>
  
  
  </section>
{% endblock body %}