{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}
    <div class="container-fluid py-0 my-0 mx-0">
        <img src="../static/pexels-freestockpro-1006311.jpg" width="1500" class="mt-0 pt-0 mx-0" height="320" alt="">
        <h1 class="text-center my-4">Contact Us</h1>
    </div>

    <div class="container">

        <div class="row pt-md-2 pt-lg-4 pb-2 pb-md-4">
            <div class="col-xxl-4 col-xl-5 col-lg-6 pt-3 mt-3">
              <h1 class="h3 mb-2">Want to receive more details?</h1>
              <h2 class="display-1 text-gradient-primary pb-sm-2 pb-md-3 mb-3">Let's talk!</h2>
              <div class="nav d-block lead pt-lg-5">
                <a href="#" class="nav-link fw-normal text-decoration-underline p-0 mb-4">icecreams@gmail.com</a>
                <div class="text-nav">+91 56565-64443</div>
              </div>
            </div>

            <div class="col-lg-6 offset-xl-1 offset-xxl-2 pt-3 pt-md-4 pt-lg-3 mt-3">
              <form class="needs-validation" novalidate="" method="post" action="/contact">
                {% csrf_token %}
                <div class="row g-4">
                  <div class="col-sm-6">
                    <label for="fn" class="form-label fs-base">Full name</label>
                    <input type="text" class="form-control form-control-lg" name="full_name" id="fn" required="" placeholder="Enter Your Name" >
                    <div class="invalid-feedback">Please enter your full name!</div>
                  </div>
                  <div class="col-sm-6">
                    <label for="email" class="form-label fs-base">Email</label>
                    <input type="email" class="form-control form-control-lg" name="email" id="email" required="" placeholder="Enter Your Email ">
                    <div class="invalid-feedback">Please provide a valid email address!</div>
                  </div>
                  <div class="col-sm-6">
                    <label for="phone" class="form-label fs-base">Contt. No.</label>
                    <input type="phone" class="form-control form-control-lg" name="phone" id="phone" required="" placeholder="Enter Your Contact No.">
                    <div class="invalid-feedback">Please provide a valid phone number!</div>
                  </div>
                  <div class="col-12 pb-2">
                    <label for="message" class="form-label fs-base">Message</label>
                    <textarea class="form-control form-control-lg" id="message" rows="3" name="message" placeholder="Enter Your Message here"></textarea>
                    <div class="invalid-feedback">Please enter your message!</div>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-lg btn-primary w-100 w-sm-auto">Contact Us</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
    </div>
{% endblock body %}